header{
	color: white;
	margin: -16px -8px 0px -8px;
	height: 80px;
	background:#787878;
}

#header-main{
	padding: 18px 0px 0px 13px;
	font-size:32px;
	float:left;
	color:white;
}

.header-list {
	list-style: none;
	float: right;
	font-size: 26.5px;
	padding: 20px 60px;
}

a{
	color: white;
	text-decoration: none;
}

.header-list:hover{
	color:gray;
	background: black;
}

.post{
	width: 1200px;
	margin:25px 0px 0px 10px;
	background:"#add8e6";
	border:2px solid black;
	border-radius: 8px;
}

.post-head{
	border-bottom:1px solid gray;
	padding: 10px 0 0 10px ;
	display: flex;
}

.popst-title{
	font-size: 20px;

}

.post-day{
	font-size: 10px;
	float:right
}
